ROBOFLOW_API_KEY=
NAIL_ALPHA=0.8
NAIL_BLUR=2
SPACE_DETECTION_THRESHOLD=0.5
YOLO_CONFIDENCE_THRESHOLD=0.5
BEAUTIFY_ENABLED=true 
BEAUTIFY_STRENGTH=0.6 
BEAUTIFY_SATURATION=1.3 
BEAUTIFY_SKIN_SMOOTHING=0.5