ROBOFLOW_API_KEY=
NAIL_ALPHA=0.4
NAIL_BLUR=2
NAIL_GLOSS_INTENSITY=0.5
SPACE_DETECTION_THRESHOLD=0.1
YOLO_CONFIDENCE_THRESHOLD=0.5
MAX_DETECTION_DIM=320
MAX_PROCESS_FPS=20
NO_HAND_COOLDOWN=1.0
ROBOFLOW_MAX_DIM=1024
FRAME_SKIPPED_BLUR_THRESHOLD=50.0
MAX_CAPTURE_DIM=1280
MAX_SEND_FPS=10
